{% extends "shop/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div class="container content" style="margin-top: 6%;">
    <h1 class="text-center">Ваш заказ</h1>
    <div class="col-sm-4">
        <h4>Товары:</h4>
        <ul class="list-unstyled">
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }}р.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Итого: {{ cart.get_total_price }}р.</p>
    </div>

    <form action="." method="post">
        <h4>Заполните данные:</h4>
        <div class="col-sm-3">
            {{ form.as_table }}
            <input type="submit" class="btn btn-secondary" value="Подтвердить заказ" style="margin-top: 20px;">
            {% csrf_token %}
        </div>
    </form>
</div>
<script type="text/javascript">
    function showOrHide() {
        choice= document.getElementById('id_status_2');
        field_1= document.getElementById('id_postal_code');
        field_2= document.getElementById('id_address');
        if (choice.checked){
            field_1.value = "Самовывоз";
            field_2.value = "Самовывоз";
            field_1.style.display = "none";
            field_2.style.display = "none";
            $("label[for='id_postal_code']").css('display', 'none');
            $("label[for='id_address']").css('display', 'none');
        }
        else{
            if (field_1.value == "Самовывоз"){
                field_1.value = "";
                field_2.value = "";
            }
            field_1.style.display = "block";
            field_2.style.display = "block";
            $("label[for='id_postal_code']").css('display', 'block');
            $("label[for='id_address']").css('display', 'block');
        }
    }
  </script>
    
{% endblock %}