{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 6%;">
    <button type="button" value="Previous Page" class="btn btn-primary btn-lg" onClick="window.history.back();return false;">
        Назад
    </button>
    <div class="row" style="margin: 5%;">
        <div class="col-sm-4">
                <img src="{{ product.image.url }}" alt="" style="width: 100%">
        </div>
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description | safe }}</p>
            <p class="price">Цена: {{ product.price }}р.</p>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <br><input type="submit" value="Добавить в корзину" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
    

{% endblock %}