{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if fandom %}{{ fandom.name }}{% else %}Фандомы{% endif %}
{% endblock %}
{% block content %}

<div class="container content">
    {% if fandom %}
    <div>
        <div class="col-sm-12">
            <h3>{{ fandom.name }}</h3>
            <div class="row">
                <div class="card-columns">
                    {% for product in products %}
                        <div class="card bg-light">
                            <img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта">
                            <div class="card-body text-center">
                                <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                                <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                                <p class="card-text">{{product.price}}р.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% else %}
        <ul>
            {% for f in fandoms %}
                <li class="list-group-item" {% if fandom.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ f.get_absolute_url }}" class="text-dark">{{ f.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}