{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ fandom.name }}
{% endblock %}
{% block content %}

<div class="container content" style="margin-top: 6%;">
    <div class="col-sm-8">
        <h3>{{ fandom.name }}</h3>
        <div class="row">
            {% for product in products %}
                <div class="product">
                    <div class="product-img">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="изображение продукта">
                    </div>
                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.name }}</a><br>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                    <p class='product-price'>{{product.price}}р.</p>
                </div>
            {% endfor %}                    
        </div>        
    </div>
</div>

{% endblock %}