{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if fandom %}{{ fandom.name }}{% else %}Фандомы{% endif %}
{% endblock %}
{% block content %}

<div class="container content">
    <div class="col-sm-12">
        {% if fandom %}
            {% if results %}
            <h3>{{ fandom.name }}</h3>
            <form action="{% url 'shop:price_filter_by_fandom' fandom.slug %}" method="get">
                <br><h5>Цена</h5>
                {% csrf_token %}
                <input placeholder="от" style="width: 10%;" name="min_price" type="" name="min_price" value="{{ min_price }}">
                <input placeholder="до" style="width: 10%;" name="max_price" type="" name="max_price" value="{{ max_price }}">
                <input type="submit" value="Показать">
            </form><br>
            <h3>Результаты</h3>
            <div class="row">
                {% for product in results %}
                    <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                        <div class="card-body text-center">
                            <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                            <p class="card-text">{{product.price}}р.</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% elif products %}
            <h3>{{ fandom.name }}</h3>
            <form action="{% url 'shop:price_filter_by_fandom' fandom.slug %}" method="get">
                <br><h5>Цена</h5>
                {% csrf_token %}
                <input placeholder="от" style="width: 10%;" name="min_price" type="" name="min_price" value="{{ min_price }}">
                <input placeholder="до" style="width: 10%;" name="max_price" type="" name="max_price" value="{{ max_price }}">
                <input type="submit" value="Показать">
            </form><br>
            <div class="row">
                {% for product in products %}
                    <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                        <div class="card-body text-center">
                            <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                            <p class="card-text">{{product.price}}р.</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <h3>По вашему запросу нет результатов</h3>
            {% endif %}
        </div>
    </div>

    {% else %}
    <h3>Фандомы</h3>
        <ul style="columns:3;">
            {% for f in fandoms %}
                <li class="list-group-item" {% if fandom.slug == f.slug %}class="selected"{% endif %}>
                    <a href="{{ f.get_absolute_url }}" class="text-dark">{{ f.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}