{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}

<div class="container content">
    <div class="col-sm-12">
        {% if category and products %}
        <h3>{{ category.name }}</h3>
        <form action="{% url 'shop:price_filter_by_category' category.slug %}" method="get">
            <br><h5>Цена</h5>
            {% csrf_token %}
            <input placeholder="от" style="width: 10%;" name="min_price" type="" name="min_price" value="{{ min_price }}">
            <input placeholder="до" style="width: 10%;" name="max_price" type="" name="max_price" value="{{ max_price }}">
            <input type="submit" value="Показать">
        </form><br>
            {% if results %}
            <h3>Результаты</h3>
            <div class="row">
                {% for product in results %}
                    <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                        <div class="card-body text-center">
                            <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                            <p class="card-text">{{product.price}}р.</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% else %}
            <div class="row">
                {% for product in ordered %}
                    <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                        <div class="card-body text-center">
                            <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                            <p class="card-text">{{product.price}}р.</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

        {% elif query and results_search %}
        <h3>Результаты по вашему запросу "{{ query }}"</h3>
        <div class="row">
            {% for product in results_search %}
                <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                    <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                    <div class="card-body text-center">
                        <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                        <p class="card-text">{{product.price}}р.</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% elif products %}
        <div id="anime" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#anime" data-slide-to="0" class="active"></li>
                <li data-target="#anime" data-slide-to="1"></li>
                <li data-target="#anime" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/raiden.jpg' %}" alt="" width="100%" height="500">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/yaemiko.jpg' %}" alt="" width="100%" height="500">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/cats.jpg' %}" alt="" width="100%" height="500">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#anime" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#anime" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <br>
        <h3>Популярное</h3>
        <div class="row">
            {% for product in products %}
                <div class="card bg-light" style="width: 32%; margin: 0.6%;">
                    <a href="{{ product.get_absolute_url }}"><img class="card-img-top" style="width:100%" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="изображение продукта"></a>
                    <div class="card-body text-center">
                        <a href="{{ product.get_absolute_url }}" class="card-title text-dark">{{ product.name }}</a><br>
                        <p class="card-text">{{product.price}}р.</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h3>По вашему запросу нет результатов</h3>
    </div>
{% endif %}
</div>
{% endblock %}